.App {
  max-width: 900px;
  min-height: 700px;
  margin: 24px auto auto;
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
